{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "standard",
  "plugins": [
    "mocha",
    "react"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error"
  },
  "globals": {
    "context": true,
    "describe": false,
    "it": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false,
    "expect": true,
    "fail": true,
    "src": true,
    "sync": true,
    "test": true,
    "root": true
  }
}
