{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": ["standard", "standard-react"],
  "plugins": [
    "mocha",
    "react"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "standard/no-callback-literal": 0
    "react/prop-types": 0,
    "react/jsx-tag-spacing": 0,
    "react/jsx-indent": 0,
    "react/self-closing-comp": 0,
    "react/no-unkown-property": 0,
    "space-before-function-paren": 0,
    "arrow-spacing": 0,
    "block-spacing": 0,
    "padded-blocks": 0
    "jsx-quotes": 0,
  },
  "globals": {
    "describe": false,
    "before": false,
    "beforeEach": false,
    "it": false,
    "after": true,
    "window": true,
    "location": true,
    "document": true,
    "map": true,
    "navigator": true
  }
}
