* {
  box-sizing: border-box;
}

.card {
  text-align: left;
  float: left;
  margin: 15px;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  color: white;
  transform-style: preserve-3d;
  transition: 0.5s ease-in-out;
  widtH: 400px;
  height: 250px;
  z-index: 2;
}
@media(max-widtH: 500px) {
  .card {
    widtH: 300px;
    height: 187.5px;
  }
}

.card .front,
.card .back {
  widtH: 400px;
  height: 250px;
  background: linear-gradient(-45deg, #4FB0C6, #3e79be);
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
@media(max-widtH: 500px) {
  .card .front,
  .card .back {
    widtH: 300px;
    height: 187.5px;
  }
}
.card .front:after,
.card .back:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  widtH: 400px;
  height: 250px;
  transition: 0.5s ease-in-out;
  z-index: -1;
  opacity: 0.15;
  background-image: url("http://image.flaticon.com/icons/svg/126/126511.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 150px center;
}
@media(max-widtH: 500px) {
  .card .front:after,
  .card .back:after {
    widtH: 300px;
    height: 187.5px;
  }
}
.card .front {
  z-index: 5;
  transform: rotateY(0deg);
}
.card .back {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .back .label {
  padding: 0;
  font-size: 12.5px;
  font-weight: bold;
  color: rgba(233, 245, 248, 0.85);
  margin-right: 5px;
}
.card .back .top {
  padding-top: 40px;
  transition: 0.5s ease-in-out;
}
@media (max-width: 500px) {
  .card .back .top {
    padding-top: 15px;
  }
}
.card .back .top .magstripe {
  width: 100%;
  height: 50px;
  background: #333;
}
.card .back .middle {
  margin-top: -40px;
  padding: 0 20px;
  text-align: right;
}
.card .back .middle .cvc {
  width: 100%;
  height: 40px;
  background: white;
  color: black;
  line-height: 40px;
  padding: 0 10px;
  border-radius: 10px;
}
.card .front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .front .middle .cd-number p {
  margin-bottom: 0;
}
.card .front .middle .cd-number p span {
  margin-right: 20px;
  font-size: 25px;
  @media(max-widtH: 500px);
  font-size: 20px;
}
.card .front .bottom {
  display: flex;
  justify-content: space-between;
}
.card .front .bottom .cardholder .label,
.card .front .bottom .expires .label {
  padding: 0;
  font-size: 12.5px;
  font-weight: bold;
  color: rgba(233, 245, 248, 0.85);
}
.card .front .top {
  display: flex;
  justify-content: space-between;
}
.card .front .top .cardType svg, .card .front .top .cardType img {
  width: 70px;
  height: 50px;
  transition: 0.5s ease-in-out;
}
@media(max-widtH: 500px) {
  .card .front .top .cardType svg, .card .front .top .cardType img {
    width: 50px;
    height: 35px;
  }
}
.card .front .top .chip {
  width: 70px;
  height: 50px;
  background: linear-gradient(-45deg, #e1e7ed, #9baec8);
  position: relative;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
@media(max-widtH: 500px) {
  .card .front .top .chip {
    width: 50px;
    height: 35px;
  }
}
.card .front .top .chip:after {
  content: "";
  display: block;
  width: 50px;
  height: 30px;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #5a79a3;
  opacity: 0.35;
  border-radius: 5px;
}
@media(max-widtH: 500px) {
  .card .front .top .chip:after {
    width: 35px;
    height: 20px;
  }
}
