.sb-text-error {
    color: #d50000;
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    display: block;
}

.sb-error {
    color: #d50000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sb-details-button {
    text-align: right;
    padding-top: 35px;
}

.sb-details-button-bottom {
    text-align: right;
    padding: 15px;
}

.mdl-list__item .sb-icon-list_item,
.sb-menu-table .sb-icon-list_item {
    color: #757575;
    background: none;
}

/* MODAL FORMS */
.sb-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  overflow: auto;
  border-radius: 4px;
  outline: medium none;
}

.sb-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 4;
}

.sb-modal-form .sb-footer {
    padding: 16px 0 16px 16px;
}

.sb-modal-form .mdl-mega-footer__bottom-section,
.sb-modal-form .mdl-mega-footer__link-list {
    margin: 0;
    padding: 0;
}

.sb-modal-form button {
    min-width: 90px;
}

.sb-modal-form .mdl-layout__header-row {
    padding: 0 20px 0;
}

.sb-modal-form .mdl-mega-footer__link-list {
    float: right;
}

.sb-modal-form .page-content {
    padding: 16px;
    min-width: 400px;
}

.sb-modal-form .mdl-layout__header .mdl-layout-title {
  color: #FFF
}


.sb-modal-form input:focus,
.sb-modal-form textarea:focus  {
    outline: none;
    border-bottom: 1px solid rgb(0,150,136);
}

.sb-menu-table a {
  cursor: pointer
}

.sb-testi-image {
  max-width: 144px;
  max-height: 72px;
  margin: 0 auto 20px;
}

.button.button-border {
    border: 2px solid #24AEF2;
    color: #24AEF2;
}

.feature-box .fbox-icon i,
.feature-box .fbox-icon img {
    background-color: #24AEF2;
}

.color {
    color: #24AEF2 !important;
}

.sb-menu-side-bar {
  margin-right: 8px;
  border-right: 1px solid rgba(0,0,0,.12);
}

@media (max-width: 900px) {
  .android-modal {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: auto;
    background-color: white;
    margin: 0px;
    padding: 5px;
    transform: initial;
  }

  .sb-modal-form .page-content {
      padding: 16px;
      min-width: 200px;
  }

  .sb-menu-side-bar {
    margin: 5px;
    border-right: 0px;
  }
}
