/* NEW */
.sb-menu-table a {
  cursor: pointer
}

.android-be-together-section {
    background-color: #f3f3f3
}

.sb-map-section {
  position: relative;
  height: 500px;
}

.sb-map-icon {
  font-size: 50px;
  color: #757575;
}

.mdl-textfield {
    width: 100%
}

.sb-form-content {
    max-width: 800px;
    padding: 16px;
    margin: auto;
    text-align: center;
}

.sb-login{
    padding-top: 100px
}

.sb-textfield__error{
    color: #d50000;
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    display: block;
}

.sb-error{
    color: #d50000;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
}

.mdl-list__item .sb-icon-list_item, .sb-menu-table .sb-icon-list_item {
    color: #757575;
    background: none;
}

.page-content h5 {
    color: #757575;
    font-weight: 700;
    padding-left: 15px;
}

.page-content .sb-page h5 {
    color: #757575;
    font-weight: 100;
    padding-left: 0;
}

.sb-details-button {
    text-align: right;
    padding-top: 15px;
}

.sb-details-button-bottom {
    text-align: right;
    padding: 15px;
}

.mdl-textfield__label {
    top: 0;
}

.sb-label-checkbox {
  color: rgba(0,0,0,.26);
  font-size: 16px;
}

.sb-link-checkbox {
  color: #8bc34a;
  text-decoration: none;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  margin: 0 auto;
  padding: 0.25em 40px;
  line-height: 1.45;
  max-width: 450px;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote:after {
  display: none;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.android-drawer .sb-layout-title {
    position: relative;
    background: #6ab344;
    color: white;
    line-height: 64px;
    padding-left: 40px;
}

.android-slogan h1 {
    background-color: rgba(0, 0, 0, .8);
    font-weight: bold;
    margin-bottom: 0;
    color: #8bc34a;
}

.android-slogan {
  padding-top: 130px;
  text-shadow: 5px 5px 12px black;
}

.android-sub-slogan h2 {
  background-color: rgba(0, 0, 0, .8);
  padding-top: 0;
  font-size: 21px;
  margin-top: 0;
}

.android-floating-box {
  position: absolute;
  left: 10px;
  right: 10px;
}

.android-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  background-color: white;
}

/**** Mobile layout ****/
@media (max-width: 900px) {

  .android-slogan h1 {
    background-color: rgba(0, 0, 0, .8);
    font-weight: bold;
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
    color: #8bc34a;
  }

  .android-slogan {
    padding-top: 100px;
    text-shadow: 5px 5px 12px black;
  }

  .android-sub-slogan h2 {
    background-color: rgba(0, 0, 0, .8);
    font-size: 16px;
    margin: 0 16px;
    padding: 15px;
    line-height: 24px;
  }

  .android-floating-box {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  .android-modal {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: auto;
    background-color: white;
    margin: 0px;
    padding: 5px;
    transform: initial;
  }

}

/* OLD */

.mdl-list .mdl-list__item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.mdl-list a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

.mdl-layout__header .mdl-layout-title {
  color: #8bc34a;
  font-weight: bold;
}

.mdl-layout__header .mdl-layout-title a {
    color: #8bc34a;
    font-weight: bold;
    text-decoration: none;
}

/* MODAL FORMS */
.sb-modal-form .sb-footer {
    padding: 16px 0 16px 16px;
}

.sb-modal-form .mdl-mega-footer__bottom-section,
.sb-modal-form .mdl-mega-footer__link-list {
    margin: 0;
    padding: 0;
}

.sb-modal-form button {
    min-width: 90px;
}

.sb-modal-form .mdl-layout__header-row {
    padding: 0 20px 0;
}

.sb-modal-form .mdl-mega-footer__link-list {
    float: right;
}

.sb-modal-form .page-content {
    padding: 16px;
    min-width: 400px;
}

.sb-modal-form .mdl-layout__header .mdl-layout-title {
  color: #FFF
}


.sb-modal-form input:focus, .sb-modal-form textarea:focus  {
    outline: none;
    border-bottom: 1px solid rgb(0,150,136);
}

/* OTHER */
.sb-no-project {
    text-align: center;
    padding: 35px;
}
